@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: white;
}

body {
  background: #872dc4;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-group {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 225px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: 0.5s;
}

.card .layer {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: 0.3s;
}

.card .info {
  position: absolute;
  bottom: -50%;
  padding: 15px;
  opacity: 0;
  transition: 0.5s bottom, 1s opacity;
}

.info p {
  font-size: 14px;
  margin-top: 3px;
}

.info button {
  background: #490CCC;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 8px;
}

.card:hover, 
.card:hover img, 
.card:hover .layer {
  transform: scale(1.1);
}

.card:hover > .layer {
  opacity: 1;
}

.card:hover > .info {
  bottom: 0;
  opacity: 1;
}

.card-group:hover > .card:not(:hover) {
  filter: blur(5px);
}
